{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <!-- Link para o Bootstrap local -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    {% if not hide_menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Meu Site</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil/">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_mensagens' %}">Mensagens</a> <!-- Link para mensagens -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'comunidades' %}">Comunidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
</header>
<main class="container mt-4">
    <!-- Exibição de mensagens -->
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-3" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</main>
<footer class="text-center mt-4">
    <p>&copy; 2025 vk.solutions</p>
</footer>
<!-- Script do Bootstrap local -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
