{% extends "base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Editar Perfil</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }} <!-- Renderiza os campos do formulário com alinhamento vertical -->
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{% url 'perfil' %}" class="btn btn-secondary ms-2">Voltar para o Perfil</a>
    </form>
</div>
{% endblock %}
