{% extends "meu_app/base.html" %}

{% block title %}Bem-vindo!{% endblock %}

{% block content %}

<div class="alert alert-success" role="alert">
    O Bootstrap está funcionando corretamente!
</div>

<div class="container mt-5">
    <h1 class="text-center text-primary">Teste de Bootstrap</h1>
    <p class="text-center alert alert-success">O Bootstrap está funcionando corretamente!</p>
</div>

<div class="text-center mt-5">
    <h1>Bem-vindo, {{ username }}!</h1>
    <p>Você está logado com sucesso.</p>
</div>
{% endblock %}
