{% extends "base.html" %}

{% block title %}Comunidades{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Comunidades Disponíveis</h1>
    <div class="row mt-4">
        {% for comunidade in comunidades %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ comunidade.name }}</h5>
                    <p class="card-text">{{ comunidade.description }}</p>

                    <!-- Verifica se o usuário já faz parte da comunidade -->
                    {% if request.user in comunidade.members.all %}
                    <button class="btn btn-success" disabled>Você já está nessa comunidade</button>
                    {% else %}
                    <form method="post" action="{% url 'entrar_comunidade' comunidade.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <a href="{% url 'detalhes_comunidade' comunidade.id %}" class="btn btn-secondary">Ver Detalhes</a>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhuma comunidade encontrada.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
